*
{
    margin: 0px;
    padding: 0%;
        
}
.startingnv
{
    
}

.innerdiv
{
   
    height: 53px;
    display: flex;
    background-color: black;
    
}

.amazonediv
{
    width: 345px;
    display: flex;
    padding-top: 1px;
}

.amazonlogo
{
    width: 135px;
    
    padding-top: 1px;
    
   
}
.amazonlogo img
{
    gap: 0px;
    
    width: 133px;
    height: 50px;
    
}
.amazonlogo a img:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.amazonin
{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0px;
    gap: 0px;
    
}
.deleveryupdate
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2px;
    padding-top: 3px;
    border-radius: 5px;
    width: 210px;
}

.deleveryupdatetext
{
    padding-top: 3px;
    height: 48px;
}
.deleveryupdatetext:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.deleveryupdatetext a
{
    color: black;
    text-decoration: none;
}
.deleveryupdate .span1
{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 9px;
}
.deleveryupdate .span2
{
    padding-left: 10px;
    font-size: 15px;
}


.searchbardiv
{
    
    width: 620px;

}
.Allinner
{
    padding-top: 9px;
    font-size: 15px;
}
.searchbardivinside
{
    display: flex;
    justify-content: center;
    padding-top: 7px;
}
.searchallbox
{
    
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 7px 0px 0px 7px;
}
.inputbox input
{
    width: 500px;
    height: 40px;
    text-decoration: none;
    text-align: none;
    display: inline;
}


.glasscop
{
    
    width: 45px;
    height: 40px;
    text-align: center;
    background-color: chocolate;
    border-radius: 0px 7px 7px 0px ;
}
.glasscop i
{
    padding-top: 10px;
    font-size: 20px;
    color: black;
}
.Languagesignindiv
{
    
    width: 400px; 
    gap: 3px;
}
.Languageflgouter
{
    padding-left: 10px;
    padding-top: 3px;
}
.Languageflg
{
    
    text-align: center;
    width: 70px;
    height: 44px;
    justify-content: center;
    border-radius: 3px;
}
.Languageflginnerbox
{
    padding-top: 6px;
    justify-items: center;
}
.Languageflginnerbox:hover
{
    border: 1px solid white;
    border-radius: 4pxvi;
}
.Languageflg img
{
    width: 15px;
    height: 35px;
    justify-items: center;

}
.Languageflg .entext
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font: bolder;
    justify-content: center;
}
.Languageflg i
{
    width: 5px;
}
.Languagesignindiv
{
    display: flex;
}
.sininouter
{
    padding-top: 4px;
}
.sinin
{
    width: 150px;
    height: 44px;
    border-radius: 5px;
}
.sinin:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.sinin .span1hello
{
    font-size: 12px;
    padding-left: 6px;
}
.sinin .acountslist
{
    font-size: 15px;
    padding-left: 7px ;
    width: 10px;
}
.retarningouter
{
    padding-top: 4px;

}
.retarning
{
    
    width: 84px;
    height: 44px;
    
}
.retarning:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.retarningouter .span1retar
{
    font-size: 13px;
    padding-left: 4px;
}
.retarningouter .retarnorder
{
    font-size: 15px;
    padding-left: 10px;
}
.cartsimble
{
    padding-top: 6px;
}
.cart   img
{
    
    width: 72px;
    height: 45px;
}
.cart img:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.innerdiv a
{
    text-decoration: none;
    color: white;   
}
a img
{
    text-decoration: none;
}
.navigationbarecond
{
    
    gap: 0px;
    margin: 0px;
    height: 48px;
    padding-top: 1px;
}
.navigationbarouter
{
   
   height: 46px;
   display: flex;  
   background-color: rgb(40, 41, 40);
   
   
}
.alltheotionsbox
{
    
    width: 1000px;
    height: 46px;
    display: flex;
    padding-top: 2px;
    color: white;   

}
.Alloptionfirst
{
    
    width: 35px;
    text-align: center;
    padding-top: 13px;
    height: 40px;
    font-size: 11px;
    font: bold;
}
.Alloptionfirst:hover

{
    border: 1px solid white;
    border-radius: 5px;
}

.allthelitemdiv ul
{

    display: flex; 
}
.allthelitemdiv ul li
{
    
    border-radius: 4x;
    font-size: 11px;
    margin: 0%;
    width: 94px;
    height: 40px;
    text-align: center;
    list-style: none;
    padding-top: 14px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: bold;
    
}
.allthelitemdiv ul li:hover
{
    border: 1px solid white;
    border-radius: 4px;
    
}

.allthelitemdiv ul li a
{
    text-decoration: none;
    color: white;
    
}
.therdnavimg
{
    
    width: 370px;
     
}
.therdnavimg a img
{
 width: 370px;
 height: 45.5px;
 border-radius: 3px;
 
}

