*
{
    margin: 0px;
    padding: 0%;
        
}
.mainbody
{
    font-family: Tahoma, sans-serif
}

.innerdiv
{
   
    height: 53px;
    display: flex;
    background-color: black;
    
}

.amazonediv
{
    width: 345px;
    display: flex;
    padding-top: 1px;
}

.amazonlogo
{
    width: 135px;
    
    padding-top: 1px;
    
   
}
.amazonlogo img
{
    gap: 0px;
    
    width: 133px;
    height: 50px;
    
}
.amazonlogo a img:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.amazonin
{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0px;
    gap: 0px;
    
}
.deleveryupdate
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2px;
    padding-top: 3px;
    border-radius: 5px;
    width: 210px;
}

.deleveryupdatetext
{
    padding-top: 3px;
    height: 48px;
}
.deleveryupdatetext:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.deleveryupdatetext a
{
    color: black;
    text-decoration: none;
}
.deleveryupdate .span1
{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 9px;
}
.deleveryupdate .span2
{
    padding-left: 10px;
    font-size: 15px;
}


.searchbardiv
{
    
    width: 620px;

}
.Allinner
{
    padding-top: 9px;
    font-size: 15px;
}
.searchbardivinside
{
    display: flex;
    justify-content: center;
    padding-top: 7px;
}
.searchallbox
{
    
    width: 40px;
    height: 38px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 7px 0px 0px 7px;
}
.inputbox input
{
    width: 500px;
    height: 40px;
    text-decoration: none;
    text-align: none;
    display: inline;
}


.glasscop
{
    
    width: 45px;
    height: 40px;
    text-align: center;
    background-color: chocolate;
    border-radius: 0px 7px 7px 0px ;
}
.glasscop i
{
    padding-top: 10px;
    font-size: 20px;
    color: black;
}
.Languagesignindiv
{
    
    width: 400px; 
    gap: 3px;
}
.Languageflgouter
{
    padding-left: 10px;
    padding-top: 3px;
}
.Languageflg
{
    
    text-align: center;
    width: 70px;
    height: 44px;
    justify-content: center;
    border-radius: 3px;
}
.Languageflginnerbox
{
    padding-top: 6px;
    justify-items: center;
}
.Languageflginnerbox:hover
{
    border: 1px solid white;
    border-radius: 4pxvi;
}
.Languageflg img
{
    width: 15px;
    height: 35px;
    justify-items: center;

}
.Languageflg .entext
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font: bolder;
    justify-content: center;
}
.Languageflg i
{
    width: 5px;
}
.Languagesignindiv
{
    display: flex;
}
.sininouter
{
    padding-top: 4px;
}
.sinin
{
    width: 150px;
    height: 44px;
    border-radius: 5px;
}
.sinin:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.sinin .span1hello
{
    font-size: 12px;
    padding-left: 6px;
}
.sinin .acountslist
{
    font-size: 15px;
    padding-left: 7px ;
    width: 10px;
}
.retarningouter
{
    padding-top: 4px;

}
.retarning
{
    
    width: 84px;
    height: 44px;
    
}
.retarning:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.retarningouter .span1retar
{
    font-size: 13px;
    padding-left: 4px;
}
.retarningouter .retarnorder
{
    font-size: 15px;
    padding-left: 10px;
}
.cartsimble
{
    padding-top: 6px;
}
.cart   img
{
    
    width: 72px;
    height: 45px;
}
.cart img:hover
{
    border: 1px solid white;
    border-radius: 4px;
}

.innerdiv a
{
    text-decoration: none;
    color: white;   
}
a img
{
    text-decoration: none;
}
.navigationbarecond
{
    
    gap: 0px;
    margin: 0px;
    height: 33px;
    padding-top: 1px;
}
.navigationbarouter
{
   
   height: 46px;
   display: flex;  
   background-color: #000;
   
   
}
.alltheotionsbox
{
    
    width: 1000px;
    height: 46px;
    display: flex;
    padding-top: 2px;
    color: white;   

}
.Alloptionfirst
{
    
    width: 35px;
    text-align: center;
    padding-top: 13px;
    height: 40px;
    font-size: 11px;
    font: bold;
}
.Alloptionfirst:hover

{
    border: 1px solid white;
    border-radius: 5px;
}

.allthelitemdiv ul
{

    display: flex; 
}
.allthelitemdiv ul li
{
    
    border-radius: 4x;
    font-size: 11px;
    margin: 0%;
    width: 94px;
    height: 40px;
    text-align: center;
    list-style: none;
    padding-top: 14px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: bold;
    
}
.allthelitemdiv ul li:hover
{
    border: 1px solid white;
    border-radius: 4px;
    
}

.allthelitemdiv ul li a
{
    text-decoration: none;
    color: white;
    
}
.therdnavimg
{
    
    width: 370px;
     
}
.therdnavimg a img
{
 width: 370px;
 height: 45.5px;
 border-radius: 3px;
 
}
.carousel-control-prev
{
    width: 80px;
}
.carousel-control-prev:hover
{
    border: 5px solid ;
}
.carousel-control-next
{
    width: 80px;
}
.carousel-control-next:hover
{
    border: 5px solid ;
    
}
/*------------------------------------firest big box----------------------------------------------------*/
.carousel-outer
{
    padding: 20px;
    display: flex;
    gap: 25px;
    height: 420px;
    background-color:rgb(250, 241, 243);
    justify-content: center;
    border: inherit;
    
}
/*-----------------------------------------first big box firest--------------------------------------------------------------*/
.borderfirstboxtvs
{
    
    width: 310px;
    height: 380px;
    padding : 15px;
    background-color: white;
    
}
.firsttwotvs
{
    display: flex;
    gap: 15px;
    
}
.firsttwotvs p
{
    font-size: 11px;
    font: bolder;
    
}
.imgtvs
{
    width: 120px;
    height: 70px;
    justify-items: center;
    
}
.borderfirstboxtvs a
{
    text-decoration: none;
    color: #000;
    
}
.borderfirstboxtvs .bold
{
    padding-bottom: 10px;
    font: bolder;
    font-weight: 1000;
}
.Alldeals a
{
    font-size: 12px;
    color: blue;
}

.secondtwotvs
{
    display: flex;
    gap: 10px;
    
}
.secondtwotvs p
{
    font-size: 11px;
    font: bolder;  
      
}
.Alldeals a
{
    font-size: 14px;
}
.Alldeals a:hover
{
    color: brown;
    text-decoration: underline;
}

/*------------------------------first big box second items---------------------------------------------------*/

.Electronicsaccessories
{
    
    width: 310px;
    height: 380px;
    padding : 15px;
    background-color: white;
}
.Electronicshedding .bold
{
    font-size: 20px;
    font: bolder;
    padding-bottom: 10px;
    font-weight: 1000;
    
}
.Electronicsimg
{
    gap: 20px;
    padding-bottom: 17px;
}
.Electronicsimg img
{ 
    width: 260px;
    height: 240px;
       
}

.ElectronicsAlldeals a
{
    font-size: 14px;
    text-decoration: none;
    color: blue;
    
    
}
.ElectronicsAlldeals a:hover
{
    color: brown;
    text-decoration: underline;
}
/*---------------------------------first big box third items----------------------------------*/
.bordertharedboxtvs
{
    
    width: 310px;
    height: 380px;
    padding : 15px;
    background-color: white;
}
.bordertharedboxtvs .bold
{
    padding-bottom: 10px;
    font: bolder;
    font-weight: 1000;
}
.theredfirstbox a
{
    text-decoration: none;
    color: #000;
}
.theredfirstbox
{
    display: flex;
    gap: 15px;
}
.theredfirstbox p
{
    font-size: 12px;
    font: bolder;

}
.threboximgtvs
{
    width: 125px;
    height: 70px;
    justify-items: center;
}
.theredfirstbox img
{
    padding-bottom: 5px;
}
.theredsecondbox img
{
    padding-bottom: 5px;
}
.theredsecondbox a
{
    text-decoration: none;
    color: #000;
}
.theredsecondbox
{
    display: flex;
    gap: 15px;
}
.theredsecondbox p
{
    font-size: 11px;
    font: bolder;
}
.thredboxAlldeals a
{
    font-size: 14px;
    text-decoration: none;
    color: blue;
}
.thredboxAlldeals a:hover
{
    color: brown;
    text-decoration: underline;
}
/*------------------------------------------firset big box fourth items--------------------------------------------------------------*/

.borderfourthdboxtvs
{
    
    width: 310px;
    height: 380px;
    padding : 15px;
    background-color: white;
}
.borderfourthdboxtvs .bold
{
    padding-bottom: 10px;
    font: bolder;
    font-weight: 1000;
}
.fourthfirstbox 
{
    display: flex;
    gap: 15px;
}
.fourthimg
{
    width: 125px;
    height: 70px;
    justify-items: center;
}
.fourthfirstbox a
{
    text-decoration: none;
    color: #000;
}
.fourthfirstbox p
{
    font-size: 12px;
    font: bolder;
}
.fourthfirstbox img
{
    padding-bottom: 5px;
}
.forthsecondbox img 
{
    padding-bottom: 5px;
}
.forthsecondbox
{
    
    display: flex;
    gap: 15px;
}
.forthsecondbox a
{
    text-decoration: none;
    color: #000;
}
.forthsecondbox p
{
    font-size: 11px;
    font: bolder;
}
/*-------------------------------------second big box ----------------------------------------------------*/

.seconditemsbox
{
    padding: 20px;
    display: flex;
    gap: 25px;
    height: 450px;
    background-color:rgb(250, 241, 243);
    border: inherit;
}
/*-------------------------------------second big box firest---------------------------------------------------------*/
.seconditemsboxinner
{
    width: 310px;
    height: 425px;
    padding : 15px;
    background-color: white;
    gap: 10px;
}
.seconditemsboxinner .bold
{
    padding-bottom: 10px;
    font: bolder;
    font-weight: 1000;
}
.secondinnerboxmobileair
{
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
}
.seconderypic a
{
    text-decoration: none;
    color: white;
}
.seconderypic .secondboxfirestimg   
{
    width: 90px;
    height: 135px;
    padding-bottom: 5px;
}
.secondboxinerfirestboxair
{
    display: flex;    
    gap: 10px;
    
}
.secondboxfirestprice
{
    
    font-size: 12px;
    padding-top: 4px;
    font: bolder;
    justify-items: center;
    background-color: brown;
    width: 60px;
    height: 28px;
    text-align: center;
   
}
.secondboxfirestboxcontent
{
    
    font-size: 12px;
    font: bolder;
    width: 60px;
    height: 30px;
    color: brown;
    font-weight: 1000;
}

.secondboxsecondimgmobile a
{
    text-decoration: none;

}
.secondboxsecondimg
{
    width: 100px;
    padding-bottom: 5px;
}
.innerboxmobile
{
    display: flex;
    gap: 10px;
    border: 1px solid;
    color: white;
}
.innermobileprice
{
    font-size: 12px;
    padding-top: 4px;
    font: bolder;
    justify-items: center;
    background-color: brown;
    width: 60px;
    height: 28px;
    text-align: center;
}
.innerboxmobilecontent
{
    font-size: 12px;
    font: bolder;
    width: 60px;
    height: 30px;
    color: brown;
    font-weight: 1000;
}
.innersecondsecondbox
{
    display: flex;
    gap: 25px;
    padding-bottom: 15px;
}
.innerboxchargerimg img
{
    width: 130px;
    height: 110px;
    padding-bottom: 10px;
}
.innerboxchargerimg a
{
    text-decoration: none;
    color: white;
}
.innerboxchargerdetails
{
    display: flex;
    gap: 10px;
}
.innerboxchargerprice
{
    font-size: 12px;
    padding-top: 4px;
    font: bolder;
    justify-items: center;
    background-color: brown;
    width: 60px;
    height: 28px;
    text-align: center;
}
.innerrboxchargercontent
{
    font-size: 12px;
    font: bolder;
    width: 60px;
    height: 30px;
    color: brown;
    font-weight: 1000;
}
.innersecondboxairpadimg img
{
    width: 100px;
    height: 110px;
    padding-bottom: 10px;
}
.innersecondboxairpadimg a
{
    text-decoration: none;
    color: white;
}
.innerrboxchargerdetails 
{
    display: flex;
    gap: 10px;
}

.innerboxchageerimgprice
{
    font-size: 12px;
    padding-top: 4px;
    font: bolder;
    justify-items: center;
    background-color: brown;
    width: 60px;
    height: 28px;
    text-align: center;
}
.innerimgchangercontent
{
    font-size: 12px;
    font: bolder;
    width: 60px;
    height: 30px;
    color: brown;
    font-weight: 1000;
}
.innerallitems a
{
    padding-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: blue;
}
.innerallitems a:hover
{
    color: brown;
    text-decoration: underline;
}

/*----------------------------------------secondbig box second small box-------------------------------------*/

.secondbigboxsecond
{
    width: 310px;
    height: 425px;
    padding : 15px;
    background-color: white;
    gap: 10px;
}

.secondbigboxstarting .bold
{
    padding-bottom: 10px;
    font: bolder;
    font-weight: 1000;
}
.secondboxfirestpicstable
{
    display: flex;
    gap: 15px;
}
.secondboxfirstpic
{
    width: 125px;
    height: 70px;
    justify-items: center;
}
.secondbigboxsecond a
{
    text-decoration: none;
    color: #000;
}
.secondbigboxsecond p
{
    font-size: 12px;
    font: bolder;
    
}

.secondboxsecondpicstable
{
    display: flex;
    gap: 15px;
}
.secondboxthiredpic
{
    width: 125px;
    height: 70px;
    justify-items: center;
}
.secondbigboxstarting img
{
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
}

.secondbivboxAlldeals a
{
    padding-top: 5px;
    font-size: 14px;
    text-decoration: none;
    color: blue;
}
.secondbivboxAlldeals a:hover
{
    color: brown;
    text-decoration: underline;
}
