*
{
    padding :0%;
    margin: 0;
    box-sizing: border-box;
    
}
body
{
    font-family: Arial, Helvetica, sans-serif;
}
.startborder
{
    border: 1px solid black;
    width: 1366px;
    height: 6px;
    background-color: black;
    margin: 0%;
}
.firstpic
{
    align-items: center;
    height: 95px;
    
}
.kakatiyamain
{
    border-radius: 40px;
    border: 1px solid beige;
}

.head
{
    background-color: rgb(202, 199, 199);
    margin: 0%;
}

.headnav
{
    height: 120px;
   background-color: rgb(33, 5, 112);
   border-bottom: 2px solid skyblue;
  
}

.dropdown
{
    margin: 0%;
    padding-left: 0px;
    size: 60px;
    padding-bottom: 4px;
    padding-top: 10px;
    display: flex;
    list-style: none;
    color: black;
    text-decoration: none;
    
    
}
.dropdown a
{
    text-decoration: none;
    color: aliceblue;
    box-shadow: 2px  2px 4px black;
    padding-bottom: 6px;
    padding-top: 6px;

}
.dropdown li
{
    margin: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 7px;
    
    
    
}
.dropdown li :hover
{
    color: aqua;
    border-radius: 2px;
    

}
.submenu1
{
    display: none;
}

.dropdown li:hover  .submenu1
{
    display: block;
    position: absolute;
    background-color: rgb(52, 7, 173);
    border: 1px solid white;
    
    
}
.dropdown li:hover .submenu1 ul
{   
    display: block;
    margin: 10px;
    
    
}
.dropdown li:hover  .submenu1 ul :hover
{
    background-color: rgb(33, 5, 112);
    padding-left: 16px;
    
}
.warangal :hover
{   
    color: aqua;
    box-shadow: none;
    text-shadow: none;
}
.aboutlistwarangal
{
    display: none;
    width: 365px;
    margin-top: -10%;
    margin-left: 245px;

}
.aboutlistwarangal li
{
    
    box-shadow: none;
}
.warangal:hover .aboutlistwarangal
{
    display: block;
    position: absolute;
    background-color: rgb(52, 7, 173);
    
    
}

.dropdown2nd
{
    margin: 0%;
    padding: 5px;
    size: 100px;
    padding-top: 10px;
    display: flex;
    list-style: none;
    color: black;
    text-decoration: none;
    
}
.dropdown2nd a
{
    text-decoration: none;
    color: aliceblue;
    box-shadow: 2px 3px 5px black;
    padding: 6px;
    
}
.dropdown2nd li
{
    margin: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 14px;
    padding-left: 5px;
    
}
.dropdown2nd li :hover
{
    color: aqua;
    
    
}

.Mainbody
{
    display: flex;
    justify-content:space-between;
}
.leftbody
{
    width: 400px;
    height: 400px;
}
.leftbody img
{
    width: 200px;
    height: 240px;
    margin-top: 5px;
    margin-bottom: 15px;
    
}
.afterimagediv h4
{
    border: 0.5px solid;
    padding: 12px;
    border-radius: 0px 20px 0px  0px;
    background-color: violet;
    text-align: center;

}
.maintable
{
    
    width: 250px;
    border: 0.5px solid;
}
.tabledatapic
{
    
    text-align: center;
    justify-self: center;
    background-color: aqua;
    padding-top: 10px;
    width: 20px;
    border: none;
    margin: 0%;
    text-align: center;
}
.tabledatapic:hover
{
    background-color: azure;
}
.tabledatapic img
{
    width: 9px;
    height:9px;
    
}
.tabledatacontent
{
    
    background-color:aqua;
    border: none;
    
}
.tabledatacontent a
{
    text-decoration: none;
    padding-left: 8px;
    
}

.tabledatacontent :hover
{
    color: red;
    
}
.tabledatacontent:hover
{
    background-color: azure;
}
.medileboxtitle h1:hover
{
    color: blue;
    text-shadow: 1px 2px 3px;
}
.medilebox
{
    width: 2100px;
    height: 500px;
    background-color: rgb(246, 248, 248);
}
.medilebox p
{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}
.marqueetag
{
    padding : 25px;
}

.marqueetag a
{
    background-color: bisque;
    text-decoration: none;
    padding-bottom : 55px;
}

.therdbox
{
    width: 500px;
    padding-left: 20px;
    padding-top: 20px;

}
.firestpicboxfirst
{
    
    border: 1px solid;
    width: 182px;
    background-color: rgb(90, 203, 201);
    
}


.firestpicboxfirst .firestpicbox img
{
    padding-left:10px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-right: 10px ;
}

.firestpicbox img
{
    width: 180px;
    height: 160px;
    text-decoration: none;
}

.firestpicbox a
{
    text-decoration: none;
    color: black;

}

.profname
{
    border: 1px solid white;
    text-align: center;
    width: 180px;
    padding-top: 6px;
}
.profname :hover
{
    background-color: aliceblue;
}
.texthover
{
    color: rgb(8, 78, 105);
    padding: 7px;
}
.texthover:hover
{
   
    color: red;
}
hr
{
    border: none;
    width: 2px;
    padding-left: none;
    padding-bottom: 15px;
}
.secondpicboxsecond
{
    border: 1px solid;
    width: 182px;
    background-color: rgb(90, 203, 201);
}
.secondpicbox :hover
{
    background-color: aliceblue;
}
.secondpicboxsecond .secondpicbox img
{
    padding-left:10px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-right: 10px ;
    
}
.secondpicbox img
{
    width: 180px;
    height: 160px;
    text-decoration: none;
    
}
.secondpicbox a
{
    text-decoration: none;
    color: black;

}
.sendprofname
{
    border: 1px solid white;
    text-align: center;
    width: 180px;
    padding-top: 6px;
}