*
{
    margin: 0px;
    gap: 0px;
}
.maindiv
{
    height: 63vh;
    background-image: url(./images/4k-marvel.jpg);
    background-size: 1450px 700px;
    background-repeat: no-repeat;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 240px;
    
}
.innername
{

    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;    
    width: 300px;
    height: 40px;
    font-size: x-large;
    font: bolder;
    font-weight: 1000px;
    text-align: center;
}

@keyframes glow 
{
    from 
    {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to 
    {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }